<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MaxStan\Mercure\Api\MercureHubInterface"
                type="MaxStan\Mercure\Service\MercureSymfonyHub" />
    <preference for="MaxStan\Mercure\Api\MercureTopicsAuthorizationInterface"
                type="MaxStan\Mercure\Service\MercureTopicsAuthorization" />
    <preference for="MaxStan\Mercure\Api\MercureTopicsProviderInterface"
                type="MaxStan\Mercure\Model\MercureTopicsProvider" />
    <preference for="MaxStan\Mercure\Api\MercureTopicPublisherInterface"
                type="MaxStan\Mercure\Service\MercureTopicPublisher" />
</config>
